<div class="page-header">
  <h1>Actors</h1>
</div>

<p><a href="/actors/new" class="btn btn-primary">Add a New Actor</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Dob</th>
      <th>Name</th>
      <th>Bio</th>
      <th>Image url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.dob %></td>
        <td><%= actor.name %></td>
        <td><%= actor.bio %></td>
        <td><%= actor.image_url %></td>
        <td>
          <a href="/actors/<%= actor.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/actors/<%= actor.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_actor/<%= actor.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

